@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@300;400;700&display=swap');

:root {
  --ac-white: #fff;
  --ac-black: #000;
  --purple-55: #4A2CED;
  --purple-60: #5E43EF;
  --purple-70: #8672F3;
  --purple-80: #AEA1F7;
  --dark-03: #070708;
  --dark-06: #0E0E10;
  --dark-08: #131316;
  --dark-12: #1C1C21;
  --dark-15: #232329;
  --dark-20: #2F2F37;
  --dark-25: #3B3B45;
  --dark-30: #474752;
  --grey-40: #62646C;
  --grey-50: #797C86;
  --grey-70: #AFB0B6;
  --grey-80: #CACACE;
}