@use "src/shared/style/module/func";

.stack_list{
  overflow: hidden;
  width: 100%;
  color: var(--ac-white);
  background-color: var(--dark-12);
}

.stack_list_wrapper{
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding: func.vw(20, 1920);
  gap: func.vw(20, 1920);
  
  @media (max-width: 1440px) {
    padding: func.vw(20, 1440);
    gap: func.vw(20, 1440);
  }
  
  @media (max-width: 960px) {
    padding: func.vw(20, 960);
    gap: func.vw(20, 960);
  }
  
  @media (max-width: 720px) {
    padding: func.vw(20, 720);
    gap: func.vw(20, 720);
  }
  
  @media (max-width: 540px) {
    padding: func.vw(20, 540);
    gap: func.vw(20, 540);
  }
  
  @media (max-width: 420px) {
    padding: func.vw(20, 420);
    gap: func.vw(20, 420);
  }
}